# Correct mistaken names and email addresses
Chris Kuehl <ckuehl@ocf.berkeley.edu> <chris@techxonline.net>
Dara Adib <daradib@ocf.berkeley.edu> <dara@uber.com>
Felix Wong <waf@ocf.berkeley.edu>
Nader Morshed <morshed@ocf.berkeley.edu>
Nader Morshed <morshed@ocf.berkeley.edu> <morshed.nader@gmail.com>
Nolan Lum <nolm@ocf.berkeley.edu> <nolm@berkeley.edu>
