# Correct mistaken names and email addresses
<baisang@ocf.berkeley.edu> <sang.bri@gmail.com>
Chris Kuehl <ckuehl@ocf.berkeley.edu> <chris@techxonline.net>
<dkessler@ocf.berkeley.edu> <sinani201@gmail.com>
<daradib@ocf.berkeley.edu> <dara@uber.com>
Felix Wong <waf@ocf.berkeley.edu>
Felix Wong <waf@ocf.berkeley.edu> <felix@fawong.com>
<waf@ocf.berkeley.edu> <felix@xilef.org>
<waf@ocf.berkeley.edu> <waf@xilef.org>
Harrison Kuo <harrisonkuo@ocf.berkeley.edu> <harrisonkuo@outlook.com>
<jvperrin@ocf.berkeley.edu> <jasonvperrin@gmail.com>
Kevin Kuehler <keur@ocf.berkeley.edu> <kkuehler@berkeley.edu>
Kevin Peng <kpengboy@ocf.berkeley.edu> <kkpengboy@gmail.com>
<mcint@ocf.berkeley.edu> <loren.p.mc@gmail.com>
<mattmcal@ocf.berkeley.edu> <matthew.mcallister@berkeley.edu>
Nader Morshed <morshed@ocf.berkeley.edu>
<morshed@ocf.berkeley.edu> <morshed.nader@gmail.com>
<morshed@ocf.berkeley.edu> <naderm@users.noreply.github.com>
Nolan Lum <nolm@ocf.berkeley.edu> <nolm@berkeley.edu>
<peterwu@ocf.berkeley.edu> <hexecute@users.noreply.github.com>
<shasan@ocf.berkeley.edu> <sahilhasan@users.noreply.github.com>
Takeshi Mochida <tmochida@ocf.berkeley.edu> <takeshimochida@gmail.com>
<willh@ocf.berkeley.edu> <william.zt.ho@gmx.com>
