repos:
-   repo: https://github.com/chriskuehl/puppet-pre-commit-hooks.git
    rev: v2.1.0
    hooks:
    -   id: puppet-validate
<<<<<<< HEAD
        additional_dependencies: ['puppet:<8']
    -   id: erb-validate
        additional_dependencies: ['puppet:<8']
    -   id: epp-validate
        additional_dependencies: ['puppet:<8']
    -   id: r10k-validate
        additional_dependencies: ['puppet:<8', 'r10k']
    -   id: ruby-validate
        additional_dependencies: ['puppet:<8']
=======
    -   id: erb-validate
    -   id: epp-validate
    -   id: r10k-validate
        additional_dependencies: ['r10k']
    -   id: ruby-validate
>>>>>>> 5422b9b4 (fix: puppet-lint fixes)
-   repo: https://github.com/pre-commit/pre-commit-hooks.git
    # We need to be using python3.6 by default before this can be upgraded to 3.x+
    rev: v2.5.0
    hooks:
    -   id: check-added-large-files
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-xml
        exclude: ^modules/ocf_desktop/files/pam/.*\.xml$
    -   id: check-yaml
        args:
        -   --allow-multiple-documents
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
        exclude: \.preseed$
-   repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.5.4
    hooks:
    -   id: autopep8
-   repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
    - id: flake8
      language_version: python3.7
-   repo: https://github.com/asottile/reorder_python_imports.git
    # We need to be using python3.6 by default before this can be upgraded to 2.x+
    rev: v1.9.0
    hooks:
    -   id: reorder-python-imports
-   repo: local
    hooks:
    -   id: no-resource-defaults
        language: pygrep
        name: No resource defaults are used (see https://github.com/ocf/puppet/pull/58)
        entry: ^\s*[A-Z][A-Za-z0-9:]+\s*{
        types: [puppet]
        exclude: ^manifests/
-   repo: https://github.com/detailyang/pre-commit-shell.git
    rev: v1.0.6
    hooks:
    -   id: shell-lint
        exclude: ^(.deactivate.sh)$
