repos:
-   repo: https://github.com/chriskuehl/puppet-pre-commit-hooks.git
    rev: v2.1.0
    hooks:
    -   id: puppet-validate
        additional_dependencies: ['puppet:<7']
    -   id: erb-validate
        additional_dependencies: ['puppet:<7']
    -   id: puppet-lint
        args:
        -   --fail-on-warnings
        -   --fix
        -   --no-140chars-check
        -   --no-documentation-check
        -   --no-puppet_url_without_modules-check
        -   --no-arrow_on_right_operand_line-check
        -   --no-variable_is_lowercase-check
        additional_dependencies: ['puppet:<7', 'puppet-lint']
    -   id: epp-validate
        additional_dependencies: ['puppet:<7']
    -   id: r10k-validate
        additional_dependencies: ['puppet:<7', 'r10k']
    -   id: ruby-validate
        additional_dependencies: ['puppet:<7']
-   repo: https://github.com/pre-commit/pre-commit-hooks.git
    # We need to be using python3.6 by default before this can be upgraded to 3.x+
    rev: v2.5.0
    hooks:
    -   id: check-added-large-files
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-xml
        exclude: ^modules/ocf_desktop/files/pam/.*\.xml$
    -   id: check-yaml
        args:
        -   --allow-multiple-documents
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
        exclude: \.preseed$
-   repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.5.4
    hooks:
    -   id: autopep8
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    - id: flake8
      language_version: python3.7
-   repo: https://github.com/asottile/reorder_python_imports.git
    # We need to be using python3.6 by default before this can be upgraded to 2.x+
    rev: v1.9.0
    hooks:
    -   id: reorder-python-imports
-   repo: local
    hooks:
    -   id: no-resource-defaults
        language: pygrep
        name: No resource defaults are used (see https://github.com/ocf/puppet/pull/58)
        entry: ^\s*[A-Z][A-Za-z0-9:]+\s*{
        types: [puppet]
        exclude: ^manifests/
-   repo: https://github.com/detailyang/pre-commit-shell.git
    rev: v1.0.6
    hooks:
    -   id: shell-lint
        exclude: ^(.deactivate.sh)$
