[Desktop Entry]
Version=1.0
Name=Terminal
Comment=Terminal Emulator
GenericName=Terminal Emulator
Exec=xfce4-terminal
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=GTK;System;TerminalEmulator;Utility;
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/xfce4-terminal.desktop
