/* ikiwiki local style sheet */

/* Add local styling here, instead of modifying style.css. */

body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Verdana, "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
    color: #000;
    border-top: 6px solid #464a52;
    font-size: 12px;
    background: #F8FCFC;
}
a:link, a:visited {
    color: #619cb8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #c66;
    background: none;
}
/* ------------------------------------------------------------
    Layout
------------------------------------------------------------ */
.header, .actions, #content, #pageinfo{
    display: block;
    width: 800px;
    margin: 0 auto;
}
#content{
    clear: both;
    margin-top: 30px;
}
/* ------------------------------------------------------------
    Header
------------------------------------------------------------ */
.pageheader{
    background: rgb(49, 54, 62);
    height: 125;
    border-top: 1px solid #292d34;
    position: relative;
}
.header{
    background: url(/images/theme/ocf-logo.gif) no-repeat top left;
    height: 120px;
    margin-top: 5px;
    position: relative;
}
.header > span{
    padding-top: 91px;
    padding-left: 120px;
    display: block;
    float: left;
}
.header .parentlinks{
    color: rgb(49, 54, 62);
    font-size: 0;
}
.parentlinks a{
    background: #464a52;
    margin: 0 1px 0 0;
    color: #fff;
    font-weight: normal;
}
.parentlinks a, .title{
    display: inline-block;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 11pt;
    height: 17px;
}
.parentlinks a:hover, .title{
    background: #8ddbf7;
    color: #000;
}
#searchform div{
    display: block;
    height: 27px;
    float: right;
    padding: 3px;
    width: 181px;
    margin-top: -5px;
    background: #292d34;
    border: 0 1px 1px 1px solid #393939;
}
#searchform div:before{
    color: #bbb;
    content: "Search:";
    font-size: 12px;
    height: 27px;
    width: 60px;
    margin-left: -60px;
    margin-top: 1px;
    float: left;
    display: block;
}
#searchform input{
    float: left;
    width: 175px;
    height: 18px;
    padding: 3px 2px;
    background: #ccc;
    border: 1px solid #555;
    color: #555;
}
#searchform input:focus, #searchform input:hover{
    background: #f0fde2;
    color: #111;
}
.pageheader .actions ul{
    float: right;
    border-bottom: 0px;
}
.pageheader .actions li{
    padding: 0;
    margin: 0;
}
.pageheader .actions li:after{
    content: " |";
}
.pageheader .actions li:last-child:after{
    content: "";
}
/* ------------------------------------------------------------
    Content
------------------------------------------------------------ */
#pagebody{
    background: #fff;
    margin: -20px 0 0 0;
    z-index: 2;
}
#content{
    padding: 4px 0 10px 0;
}
#content ul{
    list-style-type: square;
}

#content hr{
    color: #eee;
    border: 1px solid #eee;
}

#content blockquote{
    border:1px solid #e6f1f5;
    background-color:#f8fcfc;
    padding: 0 6px;
    margin: 10px;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6{
    clear: both;
    color: #888;
    font: 18px "Century Gothic","Trebuchet MS","Trebuchet";
}

#content pre{
    line-height: 1.4em;
    font-size: 110%;
    color: #111;
}

/* ------------------------------------------------------------
    Footer
------------------------------------------------------------ */
#footer{
    background-color: #F8FCFC;
    border-top: 1px solid #E6F1F5;
    clear: both;
    color: #666666;
    padding-bottom: 40px;
    margin-top: -12px;
}
#pageinfo{
    border-top: 0;
}
#backlinks a{
    margin: 4px 0;
    display: block;
}
.pagedate{
    text-align: right;
}
