[Desktop Entry]
Type=Application
Name=Print Queue
Exec=google-chrome --start-maximized --password-store=basic http://printhost/jobs/
Icon=printer-network-symbolic
