[mysqld]
bind-address = ::

# https://mariadb.com/kb/en/mariadb/optimizing-key_buffer_size/
key_buffer_size = 128M

max_connections = 750
max_user_connections = 50

# https://dev.mysql.com/doc/refman/5.5/en/table-cache.html
# table_open_cache should be at least max_connections * N
# (where N = number of tables per join)
table_open_cache = 4000

# http://haydenjames.io/mysql-query-cache-size-performance/
query_cache_size = 128M

# https://mariadb.com/kb/en/mariadb/xtradbinnodb-server-system-variables/
# https://dev.mysql.com/doc/refman/5.6/en/innodb-multiple-buffer-pools.html
innodb_file_per_table = 1
# each pool should have at least 1 GB
innodb_buffer_pool_size = 4G
innodb_buffer_pool_instances = 4

# http://dev.mysql.com/doc/refman/5.6/en/innodb-parameters.html#sysvar_innodb_log_buffer_size
innodb_log_buffer_size = 256M
innodb_log_file_size = 1G

# https://mariadb.com/kb/en/mariadb/xtradbinnodb-server-system-variables/#innodb_large_prefix
# Enable new InnoDB file format features, namely large prefixes
# These are defaults in MariaDB 10.2. but have to be enabled in 10.1 (i.e. stretch)
innodb_file_format = 'Barracuda'
innodb_file_format_check = 1
innodb_large_prefix = 1
