[mysqld]
bind-address = 0.0.0.0

# https://mariadb.com/kb/en/mariadb/optimizing-key_buffer_size/
key_buffer = 2G

max_connections = 1000
max_user_connections = 50

# https://dev.mysql.com/doc/refman/5.5/en/table-cache.html
# table_open_cache should be at least max_connections * N
# (where N = number of tables per join)
table_open_cache = 4000

# http://haydenjames.io/mysql-query-cache-size-performance/
query_cache_size = 32M

# https://mariadb.com/kb/en/mariadb/xtradbinnodb-server-system-variables/
# https://dev.mysql.com/doc/refman/5.6/en/innodb-multiple-buffer-pools.html
innodb_file_per_table = 1
innodb_buffer_pool_size = 8G
innodb_buffer_pool_instances = 8
innodb_flush_log_at_trx_commit = 1

# http://dev.mysql.com/doc/refman/5.6/en/innodb-parameters.html#sysvar_innodb_log_buffer_size
innodb_log_buffer_size = 256M
innodb_log_file_size = 1G
