# Run suspend script during lab off hours
# if not in use, resets some tmpfs directories and suspends

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# m h dom mon dow user command
*/15 00-10,19-23 * * 0,6   root /usr/local/sbin/ocf-suspend
*/15 00-08,21-23 * * 1-4   root /usr/local/sbin/ocf-suspend
*/15 00-08,20-23 * * 5     root /usr/local/sbin/ocf-suspend
