[Unit]
Description=Renew Let's Encrypt certificates for %i vhosts

[Timer]
OnCalendar=*-*-* *:05:00
Persistent=true

[Install]
WantedBy=timers.target
