{% if not vhost.is_redirect %}
# {{vhost.comment}}
<VirtualHost 127.0.0.1:{{backend_port}}>
    ServerName {{vhost.fqdn}}
    ServerAdmin {{vhost.contact_email}}

    # Trust X-Forwarded-Proto from nginx so %{HTTPS} works in .htaccess
    SetEnvIf X-Forwarded-Proto "https" HTTPS=on

    {% if vhost.disabled %}
        # Proxy to the local "unavailable" vhost, which serves up a friendly
        # "your website is rekt" page.
        RequestHeader set Host unavailable.ocf.berkeley.edu
        ProxyPass / http://127.0.0.1:{{backend_port}}/
    {% else %}
        DocumentRoot {{vhost.docroot}}

        <Directory {{vhost.docroot}}>
            Options ExecCGI IncludesNoExec Indexes MultiViews SymLinksIfOwnerMatch
            AllowOverride All
            Require all granted
            DirectoryIndex index.html index.cgi index.pl index.php index.xhtml index.htm index.shtm index.shtml
        </Directory>

        <FilesMatch "\.(php[3457]?|phtml|fcgi)$">
            Require all granted
            SetHandler fcgid-script
        </FilesMatch>

        SuexecUserGroup {{vhost.user}} ocf
    {% endif %}

    {% for name, value in vhost.response_headers.items() %}
        Header set {{name}} {{value | tojson}}
    {% endfor %}

    Alias /.well-known /var/lib/lets-encrypt/.well-known

    ServerSignature Off

    ErrorLog /var/log/apache2/vhost-error.log
    CustomLog /var/log/apache2/vhost-access.log combined

    UserDir disabled
</VirtualHost>
{% endif %}
