# {{vhost.comment}}
<VirtualHost *:{{vhost.port}}>
    ServerName {{vhost.fqdn}}
    ServerAdmin {{vhost.contact_email}}

    {% if vhost.ssl %}
        # SSL
        SSLEngine on
        SSLCertificateFile {{vhost.ssl.cert}}
        SSLCertificateKeyFile {{vhost.ssl.key}}
        SSLCertificateChainFile {{vhost.ssl.chain}}
    {% endif %}

    {% if vhost.is_redirect %}
        RewriteEngine on
        RewriteCond %{REQUEST_URI} !^/\.well-known/
        # 301 redirects are more correct, but get cached forever by dumb browsers.
        # Doesn't matter too much for vhosts.
        RewriteRule ^(.*)$ {{vhost.redirect_dest}}$1 [L,R=302]
    {% elif vhost.disabled %}
        # Proxy to the local "unavailable" vhost, which serves up a friendly
        # "your website is rekt" page.
        RequestHeader set Host unavailable.ocf.berkeley.edu
        ProxyPass / http://localhost/
    {% else %}
        DocumentRoot {{vhost.docroot}}

        <Directory {{vhost.docroot}}>
            Options ExecCGI IncludesNoExec Indexes MultiViews SymLinksIfOwnerMatch
            AllowOverride All
            Require all granted
            DirectoryIndex index.html index.cgi index.pl index.php index.xhtml index.htm index.shtm index.shtml
        </Directory>

        <Directory /services/http/suexec>
            Options +ExecCGI
            AllowOverride None
            Require all granted
            SetHandler fcgid-script
        </Directory>

        <FilesMatch "\.ph(p[3457]?|tml)$">
            Require all granted
            SetHandler fcgid-script
        </FilesMatch>

        SuexecUserGroup {{vhost.user}} ocf
    {% endif %}

    Alias /.well-known /var/lib/lets-encrypt/.well-known

    ServerSignature Off

    ErrorLog /var/log/apache2/vhost-error.log
    CustomLog /var/log/apache2/vhost-access.log combined

    UserDir disabled
</VirtualHost>
