[Unit]
Description=A set of IRC Services
After=network-online.target inspircd.service

[Service]
User=irc
Group=irc
Restart=always
RuntimeDirectory=anope
PIDFile=/run/anope/anope.pid
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/sbin/anope --debug --nofork --confdir=/etc/anope --dbdir=/var/lib/anope/db --logdir=/var/log/anope --modulesdir=/usr/lib/anope --localedir=/usr/share/anope/locale

[Install]
WantedBy=multi-user.target
