[Unit]
Description=OCF SKS Keyserver Instance
Requires=network-online.target docker.service
After=network-online.target docker.service

[Service]
# we proxy hkp from a different port so nginx can claim 11371
ExecStart=/usr/bin/docker run --rm \
    -v /var/lib/sks:/var/lib/sks \
    -p 0.0.0.0:11370:11370/tcp \
    -p 127.0.0.1:11372:11371/tcp \
    --name sks-keyserver \
    zhusj/sks
Restart=always

[Install]
WantedBy=multi-user.target
